<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApprovalTests" version="3.0.8" targetFramework="net40" />
  <package id="ApprovalUtilities" version="3.0.8" targetFramework="net40" />
  <package id="JetBrains.dotMemoryUnit" version="2.1.20150828.125449" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net40" />
  <package id="xunit" version="1.9.2" targetFramework="net40" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net40" />
</packages>